@use '../Variables.scss' as *;

.TodoWrapper{
    background-color: transparent;
    margin-left: 350px;
    margin-right: 350px;
    
}


.TodoWrapper ul{
    font-size: 30px;
    display: flex;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    
}

.TodoWrapper li{
    list-style: none;
    margin-left: 15px;
   
    
}

hr{
    height: 6px;
    background: $HR;
    border-radius: 2.5px;
    width: 700px;
    margin-bottom: 30px;
}